.login-main {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 2px 1px 2px #6188ed;
  width: 500px;
  margin: auto;
  margin-top: 20%;
  padding: 20px;
}

.ant-form {
  width: 350px;
}

.ant-form-item-control {
  max-width: 100%;
}

.error-wrapper {
  margin-top: -5px;
  margin-bottom: 15px;
  color: red;
  font-weight: 600;
  height: 25px;
}

.login-form-tail button {
  width: 350px;
}
